
/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif; /* Police principale du site */
}


html{
    scroll-behavior: smooth; /* Pour un défilement fluide */
}

p {
    color: rgb(85, 85, 85); /* Couleur du texte des paragraphes */
}

/* TRANSITION */

a, 
.btn{
    transition: all 300ms ease; /* Applique une transition douce à tous les changements d'état */
}

/* DESKTOP NAV */

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;       
    font-size: 1.5rem;
}


a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline; 
    text-underline-offset: 1rem; /* Décalage du soulignement au survol */
    text-decoration-color: rgb(181, 181, 181); /* Couleur de soulignement au survol */
}

.logo {
    font-size: 2rem; /* Taille de la police du logo */
}

.logo:hover {
    cursor : default; /* Le curseur ne change pas au survol du logo */
}

/*HAMBURGER MENU */

#hamburger-nav {
    display: none; /* Masquer le menu hamburger par défaut */
}

.hamburger-menu {
    position: relative; /* Positionnement relatif pour le conteneur du menu hamburger */
    display: inline-block; /* Affichage en ligne pour le menu hamburger */
}

.hamburger-icon {
    display: flex;
    flex-direction: column; /* Disposition verticale des lignes */
    justify-content: space-between; /* Espacement entre les lignes */
    height: 24px; /* Hauteur totale de l'icône hamburger */
    width: 30px; /* Largeur de l'icône hamburger */
    cursor: pointer; /* Curseur en forme de main au survol */
}

.hamburger-icon span {
    width: 100%; /* Largeur de chaque ligne */
    height: 2px; /* Hauteur de chaque ligne */
    background-color: black; /* Couleur des lignes */
    transition: all 0.3s ease-in-out; /* Transition douce pour les animations */
 }

 .menu-links {
    position: absolute; /* Positionnement absolu pour le menu déroulant */
    top: 100%; /* Positionner le menu juste en dessous de l'icône hamburger */
    right: 0; /* Aligner le menu à droite */
    background-color: white; /* Couleur de fond du menu */
    width: fit-content; /* Largeur automatique en fonction du contenu */
    max-height: 0; /* Hauteur maximale initiale à 0 pour masquer le menu */
    overflow: hidden; /* Masquer le contenu débordant */
    transition: all 0.3s ease-in-out; /* Transition douce pour l'ouverture/fermeture du menu */
 }

 .menu-links a{
    display: block; /* Affichage en bloc pour chaque lien */
    padding: 10 px; /* Espacement interne des liens */
    text-align: center; /* Centrer le texte des liens */
    font-size: 1.5rem; /* Taille de la police des liens */
    color: black; /* Couleur du texte des liens */
    text-decoration: none; /* Pas de soulignement pour les liens */
    transition: all 0.3s ease-in-out; /* Transition douce pour les liens */
 }

.menu-links li{
    list-style: none; /* Supprimer les puces des éléments de liste */
}

.menu-links.open{
    max-height: 300px; /* Hauteur maximale suffisante pour afficher le menu */
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px); /* Rotation et translation de la première ligne */
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0; /* Rendre la deuxième ligne invisible */
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px); /* Rotation et translation de la troisième ligne */
}

.hamburger-icon span:first-child{
    transform:none; 
}
.hamburger-icon span:first-child{
    opacity:1; 
}
.hamburger-icon span:first-child{
    transform:none; 
}

/*SECTIONS*/

section {
    padding-top: 4vh; /* Espacement supérieur pour chaque section */
    height: 96vh; /* Hauteur de chaque section */
    margin: 0 10rem; /* Marges latérales pour chaque section */
    box-sizing: border-box; /* Inclure les bordures et le padding dans la taille totale */
    min-height: fit-content; /* Hauteur minimale en fonction du contenu */
}

.section-container{
    display:flex;
}

/*PROFILE SECTION*/

#profile {
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    gap: 5rem; /* Espacement entre les éléments */
    height: 80vh; /* Hauteur de la section profil */
}

.section__pic-container {
   display: flex;
   height: 400px;
    width: 400px;
    margin: auto 0; /* Centrer verticalement l'image */
}

.profile-pfp {
  border-radius: 50%;
  object-fit: cover;
}



.section__text {
    align-self: center; /* Centrer le texte verticalement */
    text-align: center; /* Centrer le texte horizontalement */
}

.section__text p{
    font-weight: 600; /* Poids de la police pour le texte de la section */
}

.section__text__p1 {
     text-align: center;
}
.section__text__p2 {
     font-size: 1.75rem;
     margin-bottom: 1rem;
}

.title {
    font-size: 3rem; /* Taille de la police pour les titres */
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center; /* Centrer les icônes horizontalement */
    gap: 1rem; /* Espacement entre les icônes */
    margin-top: 1rem; /* Marge supérieure pour le conteneur des réseaux sociaux */
}

/* ICONS */

.icon {
    cursor: pointer; /* Curseur en forme de main au survol des icônes */
    height: 2rem; /* Hauteur des icônes */
}

/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center; /* Centrer les boutons horizontalement */
    gap: 1rem;
}

.btn{
    font-weight: 600; /* Poids de la police pour les boutons */
    transition: all 300ms ease; /* Transition douce pour les boutons */
    padding: 1rem; /* Espacement interne des boutons */
    width: 8rem; /* Largeur des boutons */
    border-radius: 2rem; /* Bords arrondis des boutons */
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 53) 0,1rem solid; /* Bordure des boutons */
}

.btn-color-1 :hover, 
.btn-color-2 :hover {
    cursor: pointer; /* Curseur en forme de main au survol des boutons */
}

.btn-color-1, 
.btn-color-2:hover {
    background: rgb(53, 53, 53); /* Couleur de fond des boutons au survol */
    color: white; /* Couleur du texte des boutons au survol */
}
.btn-color-1:hover{
    background: rgb(0, 0, 0);
}

.btn-color-2{
    background: none; 
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-container {
    gap: 2rem; /* Espacement entre l'image et le texte */
    margin-bottom: 2rem; /* Marge inférieure pour le conteneur about */
    margin-top: 2rem; /* Marge supérieure pour le conteneur about */
}

.about-details-container {
    justify-content: center; /* Centrer le texte horizontalement */
    flex-direction: column; /* Disposition verticale du texte */
}

.about-containers,
.about-details-container {
    display: flex; 
    gap: 2rem; /* Espacement entre les conteneurs */
}

.about-pic{
    border-radius: 2rem; /* Bords arrondis de l'image about */
}

.arrow {
    position: absolute; /* Positionnement absolu pour la flèche */
    right: -5rem; /* Positionner la flèche à droite */
    bottom: 2.5rem; /* Positionner la flèche en bas */

}

.details-container{
    padding: 1.5rem; /* Espacement interne du conteneur des détails */
    flex: 1;
    background: white;
    border-radius: 2rem; /* Bords arrondis du conteneur des détails */
    border: rgb(53, 53, 53) 0.1rem solid; /* Bordure du conteneur des détails */
    border-color: rgb(163, 163, 163);
    text-align: center;
}
    
.section-container {
    gap: 4rem; /* Espacement entre les sections */  
    height: 80%; /* Hauteur des sections */
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}


/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600; /* Poids de la police pour les sous-titres */
    font-size: 1.75rem; /* Taille de la police pour les sous-titres */
    margin-bottom: 2rem; /* Marge inférieure pour les sous-titres */
}

.experience-details-container {
    display: flex;
    justify-content: center; /* Centrer les conteneurs de détails horizontalement */
    flex-direction: column; /* Disposition verticale des conteneurs de détails */
}

.article-container {
    display: flex;
    text-align: initial; /* Alignement du texte à gauche */
    flex-wrap: wrap; /* Permet aux articles de passer à la ligne si nécessaire */
    flex-direction: row; /* Disposition horizontale des articles */
    gap: 2.5rem; /* Espacement entre les articles */
    justify-content: space-around; /* Espacement uniforme autour des articles */
}

article {
    display: flex;
    width: 10rem; /* Largeur de chaque article */
    justify-content: space-around; /* Espacement uniforme autour du contenu de chaque article */
    gap: 0.5rem; /* Espacement entre l'icône et le texte dans chaque article */
}

article .icon{
    cursor: default; /* Le curseur ne change pas au survol des icônes dans les articles */
}

/* PROJECTS SECTION */

#projects {
    position: relative;
}

.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem; /* Bords arrondis des images de projet */
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    flex-direction: column; /* Disposition verticale du contenu */
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    border-radius: 2rem; /* Bords arrondis du conteneur supérieur des informations de contact */
    border: rgb(53, 53, 53) 0.1rem solid; /* Bordure du conteneur supérieur des informations de contact */
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto; /* Marges supérieures et inférieures automatiques pour centrer verticalement */
    padding: 0.5rem; /* Espacement interne du conteneur supérieur des informations de contact */
}

.contact-info-container{
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center;
    gap: 0.5rem; /* Espacement entre les éléments */
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.email-icon{
    height: 2.5rem; /* Hauteur de l'icône email */
}

/* FOOTER */

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
}