
/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif; /* Police principale du site */
}


html{
    scroll-behavior: smooth; /* Pour un défilement fluide */
}

p {
    color: rgb(85, 85, 85); /* Couleur du texte des paragraphes */
}

/* TRANSITION */

a, 
.btn{
    transition: all 300ms ease; /* Applique une transition douce à tous les changements d'état */
}

/* DESKTOP NAV */

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;       
    font-size: 1.5rem;
}


a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline; 
    text-underline-offset: 1rem; /* Décalage du soulignement au survol */
    text-decoration-color: rgb(181, 181, 181); /* Couleur de soulignement au survol */
}

.logo {
    font-size: 2rem; /* Taille de la police du logo */
}

.logo:hover {
    cursor : default; /* Le curseur ne change pas au survol du logo */
}

